/*CSS página 1*/
/*menú navegación de todas las html*/

.menu{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
   
    /*main con video*/
}
.mainpaginaprincipal{
    padding-top: 10%;
}

/*texto que aparece en el main pag1*/

@mixin margenesGenerales ($valorpadding, $valormarginleft, $valorwidth) {
    padding: $valorpadding;
    margin-left: $valormarginleft;
    width: $valorwidth;
}
.textoinicial{
    @include margenesGenerales(60px,40px,580px);
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: floralwhite;
    font-size:larger;
}

/*seccion titulo con logo*/

.logo{
    display: flex;
    flex-direction: row;
    height: 170px;
    margin-left: 6px;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    font-family: 'Rubik', sans-serif;

}


/*logo solamente*/

#isotipo{
    height: 160%;
}

@media (max-width: 650px){
    iframe{
        width:50%;
        height:50%;
    }

    .textoinicial{
        width: 80%;
    }
    .logo{
        margin-left: 0%;
    }

    #isotipo{
        display: none;
    }
}