/*CSS pagina planes*/

.formulario{
    color: floralwhite;
    font-family: 'Rubik', sans-serif;
}

.titulos2{
    margin-top: 85px;
}

@mixin flex-row-only {
    display:flex;
    flex-direction:row; 
    
}

@mixin animacion {
        height: auto;
        @include flex-row-only;
        font-family: 'Rubik', sans-serif;
        color: white;
        border: 3px solid;
        margin: 30px 15px 30px 15px;
        border-color: black;
        :hover{
            transition-duration: 1.5s;
            height: auto;
            color: rgb(208, 241, 120);
            transform-box: scale(0.9);
        }
    
}
.seccionplanes{
    @include flex-row-only;
    @include animacion;
    border: none;
    }

    .plan{
        @include animacion;
        background-color: $Color1;

    }
    

    .mainplanes{
        margin-bottom: 0%;
        height: 100%;
        min-height: 100vh;
    }
    

    @media (max-width: 700px){

        .plan1, .plan2, .plan3{
            font-size: 90%;
            display: flex;
            flex-direction: column;
        }

        .bodyPlanes{
            width: 15em;
            height: 12em;
        }
    
        .seccionplanes{
            font-size: 90%;
            display: flex;
            flex-direction: column;
    
    
        }
    }
        
    
    @media (max-width:380px){

        .plan1, .plan2, .plan3{
            font-size: 80%;
            display: flex;
            flex-direction: column;
        }

        .bodyPlanes{
            width: 12.5em;
            height: 10em;
        }
    

        .seccionplanes{
            font-size: 80%;
            display: flex;
            flex-direction: column;
    
        }
    
    }