/*CSS pagina planes*/

.formulario{
    color: floralwhite;
    font-family: 'Rubik', sans-serif;
}

.seccionplanes{
    display: flex;
    flex-direction: row;
    }
    
    .plan1, .plan2, .plan3{
        height: auto;
        display: flex;
        flex-direction: row;
        font-family: 'Rubik', sans-serif;
        border: 3px solid rgb(176, 136, 136);
        margin: 30px 15px 30px 15px;
    }

    .mainplanes{
        margin-bottom: 0%;
        height: 100%;
        min-height: 100vh;
    }

    .seccionplanes:hover{
        transform: scale(0.9);
    }

    .seccionplanes{
        transition-property: all;
        transition-duration: 1.5s;
    }

    @media (max-width: 700px){

        .plan1, .plan2, .plan3{
            font-size: 90%;
            display: flex;
            flex-direction: column;
        }
    
        .seccionplanes{
            font-size: 90%;
            display: flex;
            flex-direction: column;
    
    
        }
    }
        
    
    @media (max-width:380px){

        .plan1, .plan2, .plan3{
            font-size: 80%;
            display: flex;
            flex-direction: column;
        }
    
        .seccionplanes{
            font-size: 80%;
            display: flex;
            flex-direction: column;
    
        }
    
    }