/*html profesores*/



.containerProfes{

    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.imagenprofe{
    height: 50%;
    width: 280px;
    border: solid 4px;
    border-color: $Color1;
    &:hover{
        transform: scale(0.9); 
        color: $colorletras;
        transition-property: all;
        transition-duration: 2s;
        }

}

.imagenprofe2{
    height: 50%;
    width: 340px;
    border: solid 4px;
    border-color: $Color1;
    &:hover{
        transform: scale(0.9); 
        color: $colorletras;
        transition-property: all;
        transition-duration: 2s;
        }
}

.imagenprofe3{
    height: 50%;
    width: 290px;
    border: solid 4px;
    border-color: $Color1;
    &:hover{
        transform: scale(0.9); 
        color: $colorletras;
        transition-property: all;
        transition-duration: 2s;
        }
    
}

@media (max-width: 700px){

    .titulos2{
        font-size: 90%;
    }

    .containerProfes{
        display: flex;
        flex-direction: column;


    }
}
    

@media (max-width:380px){
    .titulos2{
        font-size: 80%;
    }

    .containerProfes{
        display: flex;
        flex-direction: column;

    }

}